body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    margin: 50px;
    background-color:#fafafa;
}

/* PRODUCT DETAILS MODULE */
.product-details {
    height: 350px;
    width: 350px;
}

/* ITEM TITLE, PRICE, DESCRIPTION */
h1 {
    font-weight: normal;
}

p {
    font-size:12px
}

.horizontal-line {
    padding:0;
    border-bottom:1px solid #e0e0e0;
    margin-bottom: 10px;
}

/* ADD TO BAD + FIND IN STORE BUTTONS */

.button {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 700;
    padding: 15px 17px 13px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.4px;
    width: 100%;
}

#bag {
    background-color: #d22030;
    border: 1px solid #d22030;
    color: #fff;
    margin-top: 10px;
}

#store {
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 10px;
}


/* SHARE - LIVECHAT - REVIEWS  */
#share {
    height:10px;
    width:10px;
}

.dropdown-share {
    height: 10px;
    width: 20px;
    text-align: left;
}


button {
    font-size: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 15px 17px 13px;
    cursor: pointer;
    letter-spacing: 1.4px;
    outline:none;
    border:none;
    overflow:hidden;
    width: 100%;
    display: inline-block;
}

.vertical-line {
  border-right:1px solid #e0e0e0;
}

.inner {
    display:inline-block;
}

/* FABRIC - CARE - FEATURES */
.item-material {
    border:1px solid #fafafa;
    box-shadow: 10px 5px 5px #e0e0e0;
    background-color: white;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
    padding: 15px 17px 13px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1.4px;
    width: 100%;
    margin-top:10px;
}

/* SIZES COMPONENT */

.sizes {
    align-items: center;
    display: flex;
    margin-top: 2px;
    justify-content:space-between;
    position: relative;
    flex-flow: row nowrap;
    height: 44px;
    width: 232px;
}


/* COLORS COMPONENT */
.color-box {
    float: left;
    width: 50px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
  }

.color-name {
    font-size:10px;
    margin: 5px;
    clear: left;
}
  
.sku {
    font-size: 10px
}